{% extends 'budget/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}


{% block content %}
<body>
    
    <div class="home">
        <div class="box">
            <div class="imgBox">
                <img src="{% static 'media/FirstTile.png' %}">
            </div>
            <div class="details">
                <div class="content">
                    <p>There is one thing you are never too busy to do and that is taking time to make a budget.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="{% static 'media/SecondTile.png' %}">
            </div>
            <div class="details">
                <div class="content">
                    <h2>What is a budget?</h2>
                    <p>A budget is a financial plan that will help you make smart spending choices today 
                    while preparing for tomorrow. </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="{% static 'media/ThirdTile.png' %}">
            </div>
            <div class="details">
                <div class="content">
                    <p>Budgeting will help you achieve your goals and prepare you for unexpected bumps in the road.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="{% static 'media/FourthTile.png' %}">
            </div>
            <div class="details">
                <div class="content">
                <h2>So what goes into making a budget?</h2>
                <p>First, you'll need to track your income and expenses for a particular period of time, such as a month.
                    You can do so by Adding A Project and Getting Started. </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="{% static 'media/FifthTile.png' %}">
            </div>
            <div class="details">
                <div class="content">
                    <p> After that, making your budget comes down to a simple equation: <b>what you earn - what you spend.</b></p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="{% static 'media/SixthTile.png' %}">
            </div>
            <div class="details">
                <div class="content">
                    <p>To determine your expenses include items such as tuition, books, rent, credit card payments and car payments 
                        Then simply subtract your expenses from your income.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="{% static 'media/SeventhTile.png' %}">
            </div>
            <div class="details">
                <div class="content">
                    <h2> Are your earnings greater than your spending?</h2>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="{% static 'media/EighthTile.png' %}">
            </div>
            <div class="details">
                <div class="content">
                    <p>If so , you're on the right track and if not, Budget Tracker will try to make it easier for you and help show you
                        how much you're spending and you can then determine how to balance your budget. </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="{% static 'media/NinthTile.png' %}">
            </div>
            <div class="details">
                <div class="content">
                    <p><b>Use Budget Tracker</b> to be mindful of your daily expenses, that way you can make sure you're spending your money on things
                        that really matter to you.<b>When you budget you decide where your money goes instead of wondering where it all went.</b></p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}